/facemocap_df.pkl
/functions.py
/pc.ply
/sync.pcd
/sync.ply
/test_norm.ipynb
/test_stuff.ipynb
/tet.ply
/tutorial.ipynb
/tutorial_spc.ipynb
gb_df.pkl
.gitignore
.gitignore
simovi-2.ipynb
others_px.ipynb
gb_df.ipynb
others_px_df.pkl
point_cloud_data.pkl
point_cloud_data_imputed.pkl
